body {
  font-family: "Open Sans", sans-serif;
}
.text-primary {
  color: #fd6e0a;
}

.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: none;
  color: white;
  padding: 15px 35px;
  font-weight: 400;
  font-size: 20px;
}

.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
/* Nav releated styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}

.nav-title {
  color: #181818;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
}

/* Header releated styles */
header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.banner {
  padding: 30px 30px 0px 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.banner img {
  width: 500px;
}

.banner-greeting {
  font-size: 45px;
  margin-bottom: 0;
}
.banner-title {
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 0px;
}
.banner-content {
  max-width: 500px;
}

.banner-description {
  margin-bottom: 30px;
}

/* main section */

/* about section styles */
.about {
  padding: 130px;
  /* margin: 130px 0; */
  margin: 130px;
  border-radius: 10px;
  background: #fff8f3;
}

.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
